.footer{
    text-decoration: none;
    color: white !important;
    background-color: #003d64;
    height: 25%;
    // &:hover {
    //   text-decoration: none;
    //   color: #4fd855 !important;
    //   background-color: transparent;
    // }
  }